* {
  margin:0;
  border:0;
  box-sizing:border-box;
  padding:0
}

body {
  margin:auto;
  background-color:#eee;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  line-height:1.4;
  color:#222
}

.flex {
  position:absolute;
  top:5px;
  display:flex;
  width:100%;
  height:calc(100% - 5px)
}

#editor {
  height:calc(100% - 5px)
}

#editor_container, #emulator_container {
  width:50vw
}

#emulator_container {
  flex-direction:column;
  display:flex;
  background-color:#222;
  align-items:center
}

#canvas_container {
  display:flex;
  align-items:center
}

#canvas_container {
  height:calc(100% - 60px)
}

#console_container {
  width:100%;
  height:60px;
  background-color:#111;
  color:#eee;
  overflow-y:auto
}

#canvas {
  width:256px;
  height:192px;
  background-color:white
}
